src/env/
src/backend/__pycache__/
src/backend/models/
src/bot/utils/__pycache__/
src/bot/utils/__pycache__/event.cpython-36.pyc
src/tb/
src/bot/utils/__pycache__/bot2.cpython-36.pyc
src/bot/con.py
src/test.ipynb
src/.ipynb_checkpoints/
src/bot/__pycache__/schedule.cpython-36.pyc
src/reminder_bot/.env
src/bot/models/export.pkl
